<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092342696451-9sht3eeh71f4su60p9i9kf3l1dhb6e1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092342696451-9sht3eeh71f4su60p9i9kf3l1dhb6e1f</string>
	<key>API_KEY</key>
	<string>AIzaSyCRC08U9CDPNJSRld9qkCli_CKLfECA8-A</string>
	<key>GCM_SENDER_ID</key>
	<string>1092342696451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.greenHouse</string>
	<key>PROJECT_ID</key>
	<string>greenhouse-ef892</string>
	<key>STORAGE_BUCKET</key>
	<string>greenhouse-ef892.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092342696451:ios:c845f4441c81f08bda9c36</string>
</dict>
</plist>